@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    body[data-fonts="sans-serif"] {
        font-family: "Inter", sans-serif;
    }
    body[data-fonts="monospace"] {
        font-family: "Space Mono", monospace;
    }
    body[data-fonts="serif"] {
        font-family: "Arvo", serif;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:focus {
        transition: background-color 600000s 0s, color 600000s 0s;
    }
    input[data-autocompleted] {
        background-color: transparent !important;
    }
}
